<div class="project-create">
  <div class="col-md-3 left-tab">
    <div class="column">
      <div class="card card-button insight">
        <button type="button" class="btn btn-info">MY PROJECTS</button>
      </div>
    </div>
    <div class="column">
      <div class="card card-button insight">
        <button type="button" class="btn btn-info">Add Medialink</button>
      </div>
    </div>
    <div class="column">
      <div class="card card-button insight">
        <button type="button" class="btn btn-info">Add Metadata</button>
        <!-- <div class="insight-text">Add Metadata</div>                  -->
      </div>
    </div>
    <div class="column">
      <div class="card card-button insight">
        <button type="button" class="btn btn-info">Add Dataset</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header">
          Authors
        </div>
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 project-content column">
    <label>CREATE NEW PROJECT</label>
    <div class="app-project-card">
      <form [formGroup]="createProjectForm" (ngSubmit)="save()" novalidate>
        <div class="form-group">
          <label class="label label-default"> PROJECT TITLE</label>
          <input type="text" required (ngModelChange)="dataChanged($event)"
            [ngClass]="{'has-error':  (createProjectForm.controls['projectTitleVal'].touched ||createProjectForm.controls['projectTitleVal'].dirty) && !createProjectForm.controls['projectTitleVal'].valid}"
            [(ngModel)]='projectTitle' formControlName='projectTitleVal' class="form-control" name=" Project">
          <div *ngIf="createProjectForm.get('projectTitleVal').invalid && (createProjectForm.get('projectTitleVal').dirty ||createProjectForm.get('projectTitleVal').touched)">
             <span class="text-danger" *ngIf="createProjectForm.controls['projectTitleVal'].errors?.required">Project
              title is required.</span>
            <span class="text-danger" *ngIf="wordCountError">Project title must contain only 150 words.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="label label-default">PROJECT DETAILS</label>
          <textarea required (ngModelChange)="dataChangedtextArea($event)"
            [ngClass]="{'has-error':  (createProjectForm.controls['projectDetailsVal'].touched ||createProjectForm.controls['projectDetailsVal'].dirty) && !createProjectForm.controls['projectDetailsVal'].valid}"
            class="form-control" [(ngModel)]='projectDetails' formControlName='projectDetailsVal'> </textarea>
          <div *ngIf="createProjectForm.get('projectDetailsVal').invalid && (createProjectForm.get('projectDetailsVal').dirty ||createProjectForm.get('projectDetailsVal').touched)">
            <span class="text-danger" *ngIf="createProjectForm.controls['projectDetailsVal'].errors?.required">Project
              detail is required.</span>
          </div>
          <span class="text-danger" *ngIf="detailCountError">Project detail must contain only 250 words.</span>
        </div>
        <div class="form-group">
          <label class="label label-default">PRIVACY SETTINGS </label>
          <div>
            <label class="label-subtitle">Define your project privacy preferences</label>
          </div>
          <div>
            <label class="label label-default">Controlled Access</label>
            <ui-switch class="toggle" size="small" color="#5aaaf6" (change)="onChangeSwitch($event)"></ui-switch>
            <div>
              <label class="label-subtitle">Only you or collabrators have permissions</label>
            </div>
          </div>
        </div>
        <!--
        <div class="form-group">

          <label class="label label-default"> PROJECT DESCRIPTION</label>

          <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>

        </div> -->
        <div class="app-project-card-box">
        </div>
        <div class="project-actions">
          <!-- <a *ngIf="userProjectPermission.canAdmin" mat-raised-button color="secondary" (click)="showEditProjectTemplate=true">Edit</a> -->
        </div>
        <div>
          <input type="button" value="Cancel" class="cancelButton btn btn-primary" />
          <input type="submit" value="Save" [disabled]="!createProjectForm.valid"
            class="createButton btn btn-primary" />
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-4 right-tab">
    <div class="column">
      <div class="card card-button insight">
        <div class="insight-text">Invite Members</div>
      </div>
      <div>
        <label>Add User</label>
          <div class="row">
            <input type="text" [(ngModel)]='searchText' (ngModelChange)="searchResult($event)"
              class="form-control addUser" />
            <input type="Button" class='addbtn' value="ADD" />
          </div>
        <ul *ngIf="searchData" class='myUL'>
          <li class='li' *ngFor="let cityjson of searchData" (click)='selectedCity(cityjson)'>
            <span class="badge">{{cityjson.cityName}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Dropdown button
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Dropdown button
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card card-button insight">
        <div class="insight-text">User List</div>
      </div>
    </div>
  </div>
</div>
